**/.DS_Store
**/*.swp
output/**
Makefile.paths
src/review-basic-math-review.ptx
src/review-linear-equations-and-inequalities.ptx
src/section-arithmetic-with-negative-numbers.ptx
src/section-combining-like-terms.ptx
src/section-equations-and-inequalities-as-true-false-statements.ptx
src/section-properties-of-quadratic-functions.ptx
src/section-solving-multistep-linear-equations.ptx
