/*
 *  There are five main choices that define a color scheme in the
 *   HTML output of PreTeXt:
 *    1) A dark color for the title on each page
 *     2) A dark color for highlighted words in the body
 *      3) A dark color for other highlighted words in the body
 *
 *       In the CSS those are called 'documenttitle', 'bodytitle',
 *        and 'bodysubtitle'.
 *
 *         The other two choices appear in the ToC.
 *
 *          Either:
 *           3) A dark color for each chapter background
 *            4) A dark color for the current section background
 *             (Often the ToC section background equals documenttitle.
 *
 *              Or:
 *               3') A light color for each chapter background
 *                4') A light color for the current section background
 *
 *                 In the CSS those are called 'chaptertoc' and 'sectiontoc',
 *                  respectively.
 *
 *                   With 3) and 4) you need white letters to go on the dark
 *                    background, and with 3') and 4') you need dark letters
 *                     on the light background.  Set the color of those letters
 *                      with 'chaptertoctext'.
 *
 *                       In addition to the above four choices, you need to 
 *                        choose a contrasting shade of each color, to be used
 *                         for highlighting, borders, etc.
 *
 *                          In the future you will be able to choose colors for assemblages
 *                           and for knowl output
 *                           */

:root {
  --sapphire:     #263C53;                       /* has contrast 11.32:1 with white */
  --lightsapphire:#5576AF;                       /* has contrast 4.56:1 with white */
  --amber:        #C7502A;
  --darkamber:    #A04122;                       /* has contrast 3.27:1 with black */
  --gray:      #c1c1c1;
  --lightgray: #E4E3E3;                       /* has contrast 5:1 with darkamber */
  --palegray:  #FAF9FB;                       /* has contrast 20:1 with black */
  --emerald:      #1C8464;
  --lightemerald: #B2F0DC;                       /* has contrast 5:1 with darkamber */
  --paleemerald:  #EDFDF8;                       /* has contrast 20:1 with black */
  --turquoise:      #008099;
  --lightturquoise: #9FF0FF;                       /* has contrast 5:1 with darkamber */
  --paleturquoise:  #EEFCFF;                       /* has contrast 20:1 with black */
  --amethyst:      #70485b;
  --lightamethyst: #ECE0E8;                       /* has contrast 5:1 with darkamber */
  --paleamethyst:  #FBF9F8;                       /* has contrast 20:1 with black */
  --ruby:      #9e0c0f;
  --lightruby: #FBDCDC;                       /* has contrast 5:1 with darkamber */
  --paleruby:  #FEF8F9;                       /* has contrast 20:1 with black */

  --documenttitle: var(--sapphire);              /* only used for the document title */
  --bodytitle: var(--darkamber);                 /* used when you click on the document title 
                                                    text of knowl links
                                                    text of internal links */
  --bodysubtitle: var(--darkamber);              /* text of external links */
  --bodytitlehighlight: var(--lightturquoise);     /* background of part in TOC
                                                    background of knowl links
                                                    background of internal links */
  --bodysubtitlehighlight: var(--lightturquoise);  /* background of external links */

     /*
 *        The bodytitle and bodysubtitle colors must have at least a 3:1 contrast
 *               ratio with black, and at least 5:1 ratio with with the corresponding highlight.
 *                      (The second condition will guarantee an adequate contrast with white.)
 *                           */

  --chaptertoc: var(--turquoise);
  --chaptertoctext: white;
  --chaptertocactive: var(--sapphire);           /* often the same as documenttitle */
  --chaptertoctextactive: white;
  --sectiontoc: white; 
  --sectiontoctext: var(--sapphire);
  --sectiontocactive: var(--sapphire);           /* often the same as documenttitle */
  --sectiontoctextactive: white;
  --tocborder: var(--sapphire);

  --highlighttoc: var(--lightsapphire);          /* often a dark version of documenttitle */
  --highlighttoctext: white;
  --highlighttocborder: var(--sapphire);

  --videoplay: var(--bodytitle);
  --assemblageborder: var(--turquoise);
  --assemblagebackground: var(--paleturquoise);

  --knowlborder: var(--turquoise);
  --knowlbackground: var(--paleturquoise);
}


