/* set default image max-width to match that of a two-panel sidebyside  */
/* can be overruled by using a width attribute in the MBX image element */

/*.pretext-content figure.figure-like {
  width: 50%;  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}*/

.pretext-content .exercisegroup .exercisegroup-exercises.cols2, .pretext-content .exercisegroup .exercisegroup-exercises.cols3, .pretext-content .exercisegroup .exercisegroup-exercises.cols4, .pretext-content .exercisegroup .exercisegroup-exercises.cols5, .pretext-content .exercisegroup .exercisegroup-exercises.cols6 {
  display:block;
}

.pretext-content .cols4 > li:nth-child(2n+1) {
    clear: left;
}

.pretext-content ol.cols4 > li, .pretext-content ul.cols4 > li {
    width: calc(49.5% - 1.25em) !important;
}

.pretext-content .figure-like iframe {
    border: 3px solid #EEE;
}

#toc > ul > li.partf > a, #toc > ul > li.partf > a:link, #toc > ul > li.partf > a:visited {
    background-color: var(--gray);
}

#toc > ul > li.part1 > a, #toc > ul > li.part1 > a:link, #toc > ul > li.part1 > a:visited {
    background-color: var(--emerald);
}

#toc > ul > li.part2 > a, #toc > ul > li.part2 > a:link, #toc > ul > li.part2 > a:visited {
    background-color: var(--turquoise);
}

#toc > ul > li.part3 > a, #toc > ul > li.part3 > a:link, #toc > ul > li.part3 > a:visited {
    background-color: var(--amethyst);
}

#toc > ul > li.partb > a, #toc > ul > li.partb > a:link, #toc > ul > li.partb > a:visited {
    background-color: var(--ruby);
}

#toc > ul > li.partf.active > a, #toc > ul > li.part1.active > a, #toc > ul > li.part2.active > a, #toc > ul > li.part3.active > a, #toc > ul > li.partb.active > a {
  background-color: var(--sapphire);
}

#toc > ul > li.partf > a:hover, #toc > ul > li.part1 > a:hover, #toc > ul > li.part2 > a:hover, #toc > ul > li.part3 > a:hover, #toc > ul > li.partb > a:hover {
  background-color: var(--lightsapphire);
}

#toc ul li.part.partf a {
    background-color: var(--lightgray);
} 

#toc ul li.part.part1 a {
    background-color: var(--lightemerald);
} 

#toc ul li.part.part2 a {
    background-color: var(--lightturquoise);
} 

#toc ul li.part.part3 a {
    background-color: var(--lightamethyst);
} 

#toc ul li.part.partb a {
    background-color: var(--lightruby);
} 

#toc > ul > li.part.partf.active > a, #toc > ul > li.part.part1.active > a, #toc > ul > li.part.part2.active > a, #toc > ul > li.part.part3.active > a, #toc > ul > li.part.partb.active > a {
  color: white;
  background-color: var(--sapphire);
}

#toc > ul > li.part.partf > a:hover, #toc > ul > li.part.part1 > a:hover, #toc > ul > li.part.part2 > a:hover, #toc > ul > li.part.part3 > a:hover, #toc > ul > li.part.partb > a:hover {
  background-color: var(--lightsapphire);
}


