/* set default image max-width to match that of a two-panel sidebyside  */
/* can be overruled by using a width attribute in the MBX image element */

/*.mathbook-content figure.figure-like {
  width: 50%;  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}*/

.mathbook-content .exercisegroup .exercisegroup-exercises.cols2, .mathbook-content .exercisegroup .exercisegroup-exercises.cols3, .mathbook-content .exercisegroup .exercisegroup-exercises.cols4, .mathbook-content .exercisegroup .exercisegroup-exercises.cols5, .mathbook-content .exercisegroup .exercisegroup-exercises.cols6 {
  display:block;
}

.mathbook-content .cols4 > li:nth-child(2n+1) {
    clear: left;
}

.mathbook-content ol.cols4 > li, .mathbook-content ul.cols4 > li {
    width: calc(49.5% - 1.25em) !important;
}

.mathbook-content .figure-like iframe {
    border: 3px solid #EEE;
}